In [86]:
# Importando as bibliotecas necessárias

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [87]:
#Paleta de cores do carnaval
# Definindo a paleta de cores do carnaval

my_palette = sns.color_palette(['#0455BF', '#05C7F2', '#D95204'])

In [158]:
# Lendo o arquivo CSV e armazenando-o em um DataFrame

df=pd.read_csv('C:/Users/Public/df_new.csv')

In [89]:
# Renomeando uma coluna do DataFrame

df=df.rename(columns={'t_outromoivo':'t_outro_motivo'})

In [90]:
# Separando os blocos em três classes distintas

maiores_blocos = ['Baianas Ozadas', 'MONOBLOCO', 'Entao Brilha', 'Bloco Despedida de Carnaval']
tamanho_metade = int(df.shape[0]/2)
menores_blocos = list(df['bloco'].sort_values()[:tamanho_metade].index)
df['bloco_classificacao'] = df['bloco']
df.loc[~df['bloco_classificacao'].isin(maiores_blocos + menores_blocos), 'bloco_classificacao'] = 'Outros'

In [91]:

coluna_a = df.pop('bloco_classificacao') # remove a coluna do DataFrame e a armazena em uma variável separada
df.insert(4, 'bloco_classificacao', coluna_a) # insere a coluna na posição 2

In [92]:
# Verificando os valores únicos de uma coluna

df['escolaridade'].unique()

array(['Ensino superior completo', 'Pos – Graduaçao – Mestrado',
       'Ensino superior incompleto', 'Ensino medio completo',
       'Ensino fundamental incompleto', 'Ensino medio incompleto',
       'Ensino tecnico', 'Pos – Graduaçao – Especializaçao',
       'Pos – Graduaçao – Doutorado', 'Ensino fundamental completo',
       'Nao respondeu'], dtype=object)

In [93]:
# Verificando a descrição do DataFrame

df.describe()

,Unnamed: 0.2,level_0,Unnamed: 0.1,index,Unnamed: 0,numero_controle,idade,t_qtpernoite,dias_carnaval,gasto_total,...,ingressos,outros,total,qtd_pessoas_gasto,aval_geral,aval_banheiros,aval_seguranca,aval_precos,faixa_renda,int_renda
count,1581.000000,1581.000000,1581.000000,1581.000000,1581.000000,1581.000000,1581.000000,218.000000,1581.000000,1581.000000,...,1581.000000,1581.000000,1581.000000,1581.000000,1581.000000,1581.000000,1581.000000,1581.000000,0.0,1581.000000
mean,790.000000,790.000000,790.000000,818.919039,818.919039,819.919039,30.543960,5.665138,3.841240,339.242694,...,8.490829,19.371284,335.261037,1.522454,5.194813,7.170778,6.663504,8.338393,NaN,4.951929
std,456.539703,456.539703,456.539703,475.287850,475.287850,475.287850,11.656046,12.611631,1.664817,458.704204,...,51.781559,113.676576,465.820195,1.043501,2.576181,2.217293,2.216021,1.383437,NaN,2.843196
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,16.000000,0.000000,1.000000,3.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000
25%,395.000000,395.000000,395.000000,407.000000,407.000000,408.000000,22.000000,3.000000,2.000000,112.000000,...,0.000000,0.000000,100.000000,1.000000,3.000000,6.000000,5.000000,8.000000,NaN,3.000000
50%,790.000000,790.000000,790.000000,820.000000,820.000000,821.000000,28.000000,4.000000,4.000000,230.000000,...,0.000000,0.000000,210.000000,1.000000,5.000000,8.000000,7.000000,8.000000,NaN,4.000000
75%,1185.000000,1185.000000,1185.000000,1228.000000,1228.000000,1229.000000,37.000000,5.000000,5.000000,400.000000,...,0.000000,0.000000,400.000000,2.000000,7.000000,9.000000,8.000000,9.000000,NaN,6.000000
max,1580.000000,1580.000000,1580.000000,1644.000000,1644.000000,1645.000000,74.000000,180.000000,6.000000,10000.000000,...,1000.000000,2500.000000,10000.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,11.000000

In [94]:
# Criando outra coluna para classificar a renda:
df['faixa_renda'].value_counts()

Series([], Name: faixa_renda, dtype: int64)

In [95]:
# Removendo linhas que contenham valores específicos e redefinindo o índice do DataFrame

df=df.drop(df[df['faixa_renda']=='Nao respondeu'].index)
df=df.drop(df[df['faixa_renda']=='Nao sabe'].index)

In [96]:
df.loc[df['morador'] == 'Visitantes', 't_qtpernoite'] = df.loc[df['morador'] == 'Visitantes', 't_qtpernoite'].fillna(0)
#Preenchendo valores pagos de estadia por visitantes que não pernoitaram com 0, pois não pagaram nada de hospedagem.

In [97]:
df['t_hospedagem'].unique()

array([nan, 'Casa de Amigos/Parentes', 'Outros', 'Casa propria/alugada',
       'Hoteis/Pousadas', 'Outro   airbnb', 'Outro   carro',
       'Outro   aluguel de quarto', 'Albergue', 'Outro   flat'],
      dtype=object)

In [98]:
df.loc[df['morador'] == 'Visitantes', 't_pernoite'] = df.loc[df['morador'] == 'Visitantes', 't_pernoite'].fillna(0)
#Preenchendo valores pagos de estadia por visitantes que não pernoitaram com 0, pois não se hospedaram.

In [99]:
df.loc[df['morador'] == 'Visitantes', 't_hospedagem'] = df.loc[df['morador'] == 'Visitantes', 't_hospedagem'].fillna('Outros')
# Preenchendo hospedagens ausentes de visitantes com outros.

In [100]:
df['t_transp'][df['morador']=='Visitantes'].unique()
df.loc[df['morador'] == 'Visitantes', 't_transp'] = df.loc[df['morador'] == 'Visitantes', 't_transp'].fillna('Outros')
# Preenchendo veículo de transporte de pessoas visitantes com outros.

In [101]:
df.loc[df['morador'] == 'Visitantes', 't_motivo'] = df.loc[df['morador'] == 'Visitantes', 't_motivo'].fillna('Nao respondeu')
# Colocando não respondeu, para quem não respondeu o motivo da visita na pesquisa.

In [102]:
df.loc[df['morador'] == 'Visitantes', 't_outro_motivo'] = df.loc[df['morador'] == 'Visitantes', 't_outro_motivo'].fillna('Nao respondeu')
# Colocando não respondeu, para quem não respondeu o motivo da visita na pesquisa.

In [103]:
def fill_gasto_total(row):
    if pd.isna(row['gasto_total']):
        return df['gasto_total'][row['dias_carnaval']]
    return row['gasto_total']        
df['gasto_total'] = df.apply(fill_gasto_total, axis=1)
# Preenchendo dados vazios de gasto total de acordo com tempo que permaneceu no carnaval.

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1581 entries, 0 to 1580
Data columns (total 68 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0.2                1581 non-null   int64
 1   level_0                     1581 non-null   int64
 2   Unnamed: 0.1                1581 non-null   int64
 3   index                       1581 non-null   int64
 4   bloco_classificacao         1581 non-null   object
 5   Unnamed: 0                  1581 non-null   int64
 6   morador                     1581 non-null   object
 7   numero_controle             1581 non-null   int64
 8   bloco                       1581 non-null   object
 9   dt_visita                   1581 non-null   object
 10  dt_termino                  1581 non-null   object
 11  tempo_total_entrev          1581 non-null   object
 12  idade                       1581 non-null   int64
 13  pais                        1581 non-null   object
 14  estado                      1581 non-null   object
 15  cidade                      1581 non-null   object
 16  bairro_bh                   1363 non-null   object
 17  regiao_bh                   1363 non-null   object
 18  t_pernoite                  218 non-null    object
 19  t_qtpernoite                218 non-null    float64
 20  t_hospedagem                218 non-null    object
 21  t_transp                    218 non-null    object
 22  t_motivo                    218 non-null    object
 23  t_outro_motivo              218 non-null    object
 24  dias_carnaval               1581 non-null   int64
 25  gasto_total                 1581 non-null   float64
 26  t_hospedagem.1              218 non-null    float64
 27  alimentacao                 1581 non-null   float64
 28  t_atrativos_passeios        218 non-null    float64
 29  transporte_interno          1581 non-null   float64
 30  compras                     1581 non-null   float64
 31  ingressos                   1581 non-null   float64
 32  outros                      1581 non-null   float64
 33  total                       1581 non-null   float64
 34  qtd_pessoas_gasto           1581 non-null   float64
 35  fonte_carnaval              1581 non-null   object
 36  participou_anos_anteriores  1581 non-null   object
 37  evolucao                    1581 non-null   object
 38  motivo                      1581 non-null   object
 39  expectativas                1581 non-null   object
 40  aval_geral                  1581 non-null   float64
 41  aval_banheiros              1581 non-null   float64
 42  aval_seguranca              1581 non-null   float64
 43  aval_precos                 1581 non-null   float64
 44  proxima_edicao              1581 non-null   bool
 45  motivo_nao                  1581 non-null   object
 46  blocos_de_rua               1581 non-null   bool
 47  escola_samba_caricato       1581 non-null   bool
 48  eventos_privados            1581 non-null   bool
 49  palcos                      1581 non-null   bool
 50  t_visita_amigos             218 non-null    object
 51  t_city_tour                 218 non-null    object
 52  t_visita_cultural           218 non-null    object
 53  t_compras                   218 non-null    object
 54  t_gastronomia               218 non-null    object
 55  principal_patrocinador      1581 non-null   object
 56  outro_patrocinador          1581 non-null   object
 57  genero                      1581 non-null   object
 58  escolaridade                1581 non-null   object
 59  estado_civil                1581 non-null   object
 60  faixa_renda                 0 non-null      float64
 61  int_renda                   1581 non-null   int64
 62  nivel_gastos                1581 non-null   object
 63  categoria_escolaridade      1581 non-null   object
 64  categoria_transporte        218 non-null    object
 65  categoria_hospedagem        1581 non-null   object
 66  categoria_regiao            1581 non-null   object
 67  faixa_etaria                1581 non-null   object
dtypes: bool(5), float64(16), int64(9), object(38)
memory usage: 786.0+ KB

In [105]:
df['t_hospedagem'][df['morador']=='Visitantes'][df['t_hospedagem.1'].isnull()]

Series([], Name: t_hospedagem, dtype: object)

In [106]:
df[['alimentacao', 'transporte_interno', 'compras', 'ingressos', 'outros', 'total']]=df[['alimentacao', 'transporte_interno', 'compras', 'ingressos', 'outros', 'total']].fillna(0)
# Preenchendo preços vazios com 0

In [107]:
df['qtd_pessoas_gasto']=df['qtd_pessoas_gasto'].fillna(1) 
# Preenchendo quantidades de pessoas vazias com 1 (Ao menos quem estava respondendo a pesquisa)

In [108]:
df.loc[df['morador'] == 'Visitantes', ['t_hospedagem.1', 't_atrativos_passeios']] = df.loc[df['morador'] == 'Visitantes', ['t_hospedagem.1', 't_atrativos_passeios']].fillna(0)
# Gastos com hospedagens e passeios vazios preenchidos com 0.

In [109]:
df[['evolucao', 'motivo']]=df[['evolucao', 'motivo']].fillna('Nao respondeu')
# Colocando os dados ausentes nas colunas de motivo de evolução e se evoluiu ou não como "Não respondeu"

In [110]:
df['motivo_nao']=df['motivo_nao'].fillna('Nao respondeu')

In [111]:
df['outro_patrocinador']=df['outro_patrocinador'].fillna('Nao possui')

In [112]:

faixas_preco=[0,500,1000,5000,float('inf')]
categoria=['Baixo', 'Médio', 'Alto', 'Muito alto']
df['nivel_gastos']=pd.cut(df['gasto_total'], bins=faixas_preco, labels=categoria)
# Categorizando níveis de gasto para plotagem de gráfico.

In [113]:
df['escolaridade'].unique()

array(['Ensino superior completo', 'Pos – Graduaçao – Mestrado',
       'Ensino superior incompleto', 'Ensino medio completo',
       'Ensino fundamental incompleto', 'Ensino medio incompleto',
       'Ensino tecnico', 'Pos – Graduaçao – Especializaçao',
       'Pos – Graduaçao – Doutorado', 'Ensino fundamental completo',
       'Nao respondeu'], dtype=object)

In [114]:
def categoriza_escolaridade(x):
    if x in ['Ensino fundamental incompleto', 'Ensino fundamental completo', 'Ensino medio incompleto', 'Ensino medio completo']:
        return 'Ensino Básico'
    elif x in ['Ensino superior completo', 'Ensino superior incompleto', 'Ensino tecnico']:
        return 'Graduado'
    elif x in ['Pos – Graduaçao – Mestrado', 'Pos – Graduaçao – Especializaçao', 'Pos – Graduaçao – Doutorado', 'MBA']:
        return 'Pós'
    else:
        return 'Outros'
    
df['categoria_escolaridade'] = df['escolaridade'].apply(categoriza_escolaridade)
# Categorizando níveis de estudo para plotagem de gráfico.

In [115]:
df['t_transp'].unique()

array([nan, 'Aviao', 'onibus rodoviario', 'Outros', 'Carro',
       'Outro   Carona', 'Trem', 'Outro   Uber', 'Taxi'], dtype=object)

In [116]:
def categoriza_transporte(x):
    if x in ['Aviao', 'onibus rodoviario', 'Trem']:
        return 'Transporte Coletivo'
    elif x in ['Carro', 'Outro   Carona']:
        return 'Transporte Privado'
    elif x in ['Outro   Uber', 'Taxi']:
        return 'Aplicativo'
    
df['categoria_transporte'] = df['t_transp'].apply(categoriza_transporte)
# Categorizando transportes para plotagem de gráfico.

In [117]:
def categoria_hospedagem(x):
    if x in ['Albergue', 'Outro   flat', 'Hoteis/Pousadas']:
        return 'Hospedagem'
    elif x in ['Outro   airbnb', 'Outro   aluguel de quarto']:
        return 'Airbnb'
    elif x in ['Casa de Amigos/Parentes', 'Casa propria/alugada']:
        return 'Casa'
    else:
        return 'Outros'
df['categoria_hospedagem'] = df['t_hospedagem'].apply(categoria_hospedagem)
# Categorizando hospedagens para plotagem de gráfico.

In [118]:
df['morador']

0          Morador
1          Morador
2          Morador
3          Morador
4          Morador
           ...
1576       Morador
1577       Morador
1578       Morador
1579       Morador
1580    Visitantes
Name: morador, Length: 1581, dtype: object

In [119]:
df.loc[df['morador'] == 'Morador', ['bairro_bh', 'regiao_bh']] = df.loc[df['morador'] == 'Morador', ['bairro_bh', 'regiao_bh']].fillna('Desconhecido')
# Preenchendo endereços ausentes com desconhecido para moradores.

In [120]:
def categoria_regiao(x):
    if x in ['Minas Gerais', 'Sao Paulo', 'Rio de Janeiro', 'Espirito Santo']:
        return 'Sudeste'
    elif x in ['Mato Grosso do Sul', 'Goias']:
        return 'Centro-Oeste'
    elif x in ['Pernambuco', 'Maranhao', 'Rio Grande do Norte', 'Bahia', 'Ceara']:
        return 'Nordeste'
    elif x in ['Rio Grande do Sul', 'Santa Catarina', 'Parana']:
        return 'Sul'
    elif x in ['Amazonas']:
        return 'Norte'
df['categoria_regiao'] = df['estado'].apply(categoria_regiao)
# Agrupando regiões para plotagem de gráficos.

In [121]:
df['categoria_regiao']=df['categoria_regiao'].fillna('Desconhecido/Inter')

In [122]:
df.loc[df['morador'] == 'Visitantes', 'categoria_transporte'] = df.loc[df['morador'] == 'Visitantes', 'categoria_transporte'].fillna('Outros')

In [123]:
df[['estado', 'cidade']]=df[['estado', 'cidade']].fillna('Inter')
# COlocando nulos de estado ou cidade para "inter", pois são referentes aos foliões gringos.

In [146]:
# revised salary groups
salary_groups = ['Até um salário mínimo (R$ 954,00)',
                 'De 1 a 2 salários (R$ 954,00 - R$ 1.908,00)',
                 'De 2 a 4 salários (R$ 1.908,00 - R$ 3.816,00)',
                 'De 4 a 8 salários (R$ 3.816,00 - R$ 7.632,00)',
                 'Acima de 8 salários (acima de R$ 7.632,00)',
                 'Não sei',
                 'Prefiro não responder']

# create a dictionary mapping original salary ranges to revised salary groups
salary_map = {'Ate um salario minimo (R$ 954,00 )': salary_groups[0],
              'de 1 a 2 salarios (R$ 954,00 – R$ 1908,00)': salary_groups[1],
              'de 2 a 3 salarios (R$ 1875,00 – R$ 2862,00)': salary_groups[2],
              'de 3 a 4 salarios (R$ 2812,00 – R$ 3816,00)': salary_groups[2],
              'de 4 a 5 salarios (R$ 3749,00 – R$ 4770,00)': salary_groups[3],
              'de 5 a 6 salarios (R$ 4686,00 – R$ 5724,00)': salary_groups[3],
              'de 6 a 7 salarios (R$ 5623,00 – R$ 6678,00)': salary_groups[3],
              'de 7 a 8 salarios (R$ 6560,00 – R$ 7632,00)': salary_groups[4],
              'de 8 a 9 salarios (R$ 7497,00 – R$ 8586,00)': salary_groups[4],
              'de 9 a 10 salarios (R$ 8434,00 – R$ 9540,00)': salary_groups[4],
              'Acima de 10 salarios (acima de R$ 9540,00)': salary_groups[4]}

# apply the mapping to the "faixa_renda" column
df['faixa_renda'] = df['faixa_renda'].map(salary_map)

In [161]:
df.to_csv('data.csv') 
# baixando df usado